body{
    text-align: center;
     
}
/* title */
#header{
    background: linear-gradient(white,rgba(67,169,228,0.9));
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 3em;
    color: white;
    line-height: 80px;
}
/* input container */
.inputContainer{
    width: 200px;
    margin: 0 auto;;
}
/* color iput ,line thicknes ,slider */
.input{
    height: 30px;
    font-size: 1.4em;
}
#slider{
    height: 1.4rem;
    margin: 10px auto;
}
#thicknessInput{
    position: relative;
}
#circle{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: black;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#container{
    width: 500px;
    height: 400px;
    border: 1px solid rgba(122,174,229,0.5);
    margin: 10px auto;
}
#paint{
    background-color: #fff;
    cursor: crosshair;
}
.inputContainer2{
 width: 399px;
 margin: 0 auto;

}
.input2{
    width: 133px ;
   color: white;
   font-size: 1.3em;
   float: left;
    
}
.button{
    background: rgb(131, 115, 115);
    height: 50px;
    padding: 10px;
    border-radius: 3px;
font-weight: bold;
cursor: pointer;
box-shadow: 0px 4px rgba(0,0,0,0.2);
position: relative;
}
.button:hover{
    color: white;
    background: linear-gradient(white,rgba(67,169,228,0.9));
}
.button:active{
top: 4px;
}
.eraseMode{
    background-color: red;
    color: white;
}